@import './_PaperBorder/style.scss';

.about-page {
  min-height: 100vh;
  .title-area {
    height: 85vh;
    h1 {
      margin-top: 20vh;
    }
  }

  .info-area {
    .card {
      flex: 1 1 auto;
    }
    .title-small {
      font-size: 1.1em;
    }
    .subheader-small {
      color: $text-color-subheader;
      margin-top: -12px;
      font-size: 0.9em;
      line-height: 1.1em;
    }
  }
}
