@import '~static/styles/style.scss';
@import '~yui-md/lib/styles/style.scss';

.about-page {
  min-height: 120vh;
  .title-area {
    height: 100vh;
    h1.centered-title {
      width: 100%;
      padding-top: 10vh;
      text-align: center;
      font-size: 100px;
      margin-top: 10vh;
      padding-top: 17.5vh;
      margin-bottom: 0px;
      @media #{$mobile-query} {
        font-size: 60px;
      }
    }

    .centered-subtitle {
      padding-left: 15vw;
      padding-right: 15vw;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
      @media #{$mobile-query} {
        font-size: 20px;
      }
    }
  }
}
