[Unit]
Description=CSUA Node.js webpack service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/webserver/csua-website
ExecStart=/usr/local/bin/webpack -w -p
Restart=on-abort

[Install]
WantedBy=multi-user.target
