[Unit]
Description=CSUA Node.js Website Service
After=csua-website-webpack.service

[Service]
Type=simple
User=root
WorkingDirectory=/webserver/csua-website
ExecStart=/usr/local/bin/node /webserver/csua-website/deploy/testServerBundle.js
Restart=on-abort

[Install]
WantedBy=multi-user.target
