:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;
  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;
  --dark-text: black;
  --light-text: white;
  --neutral: #eceff1; }

.footer {
  margin-top: 2.5%;
  margin-bottom: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  min-height: 10%;
  position: absolute;
  background-color: var(--primary-dark);
  color: var(--neutral); }
  .footer h6 {
    margin: 0px;
    margin-top: 0.2%;
    margin-bottom: 1%;
    padding-left: 2%; }
    .footer h6 a {
      color: var(--neutral); }
  .footer h4 {
    margin: 0px;
    padding-left: 2%; }
  .footer .icon-links {
    padding-left: 1.8%; }
  .footer .important-link, .footer .site-link, .footer .icon-links, .footer .site-links {
    opacity: 100;
    display: inline;
    color: var(--neutral); }
    .footer .important-link svg, .footer .site-link svg, .footer .icon-links svg, .footer .site-links svg {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-right: 5px; }
:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;
  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;
  --dark-text: black;
  --light-text: white;
  --neutral: #eceff1; }

.header {
  min-height: 7.5%;
  background-color: var(--primary-dark); }
  .header header {
    background-color: var(--primary-dark); }
:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;
  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;
  --dark-text: black;
  --light-text: white;
  --neutral: #eceff1; }
:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;
  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;
  --dark-text: black;
  --light-text: white;
  --neutral: #eceff1; }
:root {
  --primary: #f06292;
  --primary-dark: #006978;
  --primary-light: #56c8d8;
  --secondary: #0097a7;
  --secondary-dark: #ba2d65;
  --secondary-light: #ff94c2;
  --dark-text: black;
  --light-text: white;
  --neutral: #eceff1; }

.app-root {
  font-family: 'Roboto', sans-serif;
  background-color: var(--neutral);
  height: 100%; }

p {
  margin: 0px; }

html {
  min-height: 100%;
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
