@import './_PaperBorder/style.scss';

.officers-page {
  min-height: 100vh;

  .info-area {
    .card {
      flex: 1 1 auto;
      .card-image-area {
        position: relative;
        .dummy {
          margin-top: 100%;
        }
        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
