@import './About/style.scss';
@import './Politburo/style.scss';
@import './Officers/style.scss';
@import './Constitution/style.scss';
@import './Events/style.scss';
@import './Industry/style.scss';
@import './Sponsors/style.scss';
@import './Join/style.scss';
@import './Tutoring/style.scss';
@import './Hackathon/style.scss';
@import './ComputingResources/style.scss';

.page {
  min-height: 50vh;
  width: 100%;
  box-sizing: border-box;
  h3.page-title {
    margin-top: 10vh;
  }
  > * {
    min-height: 50vh;
    @media #{$tablet-query} {
      padding-left: calc(30% - 144px);
      padding-right: calc(30% - 144px);
    }

    @media #{$desktop-query} {
      padding-left: calc(45% - 291px);
      padding-right: calc(45% - 291px);
    }
  }
}
