@import './_PaperBorder/style.scss';

.sponsors-page {
  min-height: 100vh;

  .info-area {
    .card {
      flex: 1 1 auto;
      .card-image-area {
        position: relative;
        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        ::after {
          margin-top: 100%;
          display: block;
          content: " ";
        }
      }
    }
  }
}
