@import url('https://fonts.googleapis.com/css?family=Lato');
@import './static/styles/style.scss';
@import './Pages/style.scss';
@import './Footer/style.scss';
@import './Header/style.scss';
@import './widgets/style.scss';
@import './Flyer/style.scss';

.app-root {
  font-family: 'Lato', sans-serif;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.content-container {
  margin-bottom: 50px;
}
